@import url("https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* position the svg and div wrapping the controls one atop the other */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fef0ff;
  font-family: "Barlow", sans-serif;
}

.wind {
  width: 6px;
  background-color: red;
  transform-origin: bottom right;
}

.course {
  width: 6px;
  background-color: rgb(25, 0, 255);
  transform-origin: bottom right;

}

form {
  margin-top: 2rem;
  max-width: 600px;
  margin-left: 50%;
  margin-right: auto;
  padding: 1em;
}

form input {
  margin-bottom: 1rem;
  background: #fff;
  border: 1px solid #9c9c9c;
}

label {
  float: left;
  width: 200px;
  padding-right: 24px;
}

input {
  float: left;
  width: calc(100% - 200px);
}
/* have the clock describing the svg expand to cover a sizeable portion of the viewport */
