@import url("https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* position the svg and div wrapping the controls one atop the other */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fbd6fc;
  font-family: "Barlow", sans-serif;
}

.rect {
  height: 50px;
  width: 10px;
  background-color: red;

}
/* have the clock describing the svg expand to cover a sizeable portion of the viewport */
